# Node.js
node_modules/
npm-debug.log*
.nvmrc

# Build
dist/

# Test
coverage/

# IDE
.vscode/
.idea/

# Environment
# .env

#Hardhat files
cache
artifacts
.nvmrc
.openzeppelin
dist
build

# MacOS
.DS_Store
